body {
    font-family: "Playwrite AU QLD", cursive;
    background: linear-gradient(135deg, thistle 0%, #e6d6f3 30%, lavender 60%, #f8f8ff 85%, white 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height:100%;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    border-bottom: solid blue;
    background: linear-gradient(135deg, rgb(6, 95, 185), rgb(111, 171, 223));
    position: fixed;
    width: 100%;
    height: 3rem;
    left: 0;
    top: 0;
}

a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

h1 {
    color:purple;
    font-style:italic;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 2rem;
    bottom: 0; 
    left: 0;
    background: linear-gradient(135deg, rgb(6, 95, 185), rgb(111, 171, 223));
    border-top: solid blue;
}
