main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100vw;
    height: 89vh;
}

.eye {
    max-width: 100%;
    height: auto;
}

.intro {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

h2 {
    color: darkblue;
}

h3 { 
    color: darkblue;
}